<div class = "columns is-centered mt-6">
    <div class = "column is-one-third">
        <h1 class = "is-size-2 has-text-weight-bold mb-3">Edit Article</h1>
        <%= form_with method: :put, scope: :article, url: update_article_path, local: true do |f| %>
            <p>
                <% if @article.errors.any? %>
                    <ul>
                        <% @article.errors.full_messages.each do |message| %>
                            <li>
                                <%= message %>
                            </li>
                        <% end %>
                    </ul> 
                <% end %>
            </p>

            <p class = 'field'> 

                <%= f.label :header %>
                <%= f.text_field :header, class: "input"%>
            </p>

            <p class = 'field'>
                <%= f.label :body %>
                <%= f.text_area :body, class: "input is-small", style: "margin: 0px; width: 464px; height: 300px;" %>
            </p>
            <p>
                <%= f.submit  class: "button is-gray"%>
                <%= link_to 'Back', articles_path,  class: "button is-gray mb-2" %>
                <%= link_to 'Delete', delete_article_path(@article), method: :delete, data: { confirm: 'Are you sure?' },  class: "button is-gray" %>

            </p>
        <% end %>
        
    </div>
</div>
