<div class = "columns mt-6 is-centered">
    <% @articles.each do |entry|%>
        <div class = "column">
            <div class = "card" style="width: 500px;"> 
                <header class = "class-header">
                <p class = "card-header-title"> <%= entry.header %> </p>
                </header>

                <div class = "card-content">
                    <div class = "content">
                        <p><%= entry.id %></p>
                        <p><%= entry.body%></p>
                        <p class = "itallic">Logged <%= time_ago_in_words(entry.created_at)%> ago </p>
                    </div>
                </div> 
                
                <div class = "card-footer" >
                            <%= link_to 'Show', show_article_path(entry), class: 'card-footer-item' %>
                            <%= link_to 'Edit', edit_article_path(entry), class: 'card-footer-item' %>
                            <%= link_to 'Destroy', delete_article_path(entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-footer-item' %>
                </div>               
            </div>
        </div>
    <% end %>
</div>